.background {
  background: #004db1aa;
  padding: 5px;
  margin: 15px;
  border-radius: 20px;
}

.content {
  background: #5c7ba3;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
}

hr {
  border-radius: 10px;
  border: 5px solid #fff;
  margin: auto;
}
